.page-productcard {
	width: 100%;
	padding: 50px 0;
	margin: auto;
	&__presentation {
		max-width: 1440px;
		padding: 0 15px;
		margin: auto;
	}
}

.presentation-product {
	&__header {
		padding: 0 0 23px 0;
		margin: 0 0 20px 0;
		font-size: 38px;
		font-variation-settings: "wght" 800;
		border-bottom: 1px solid rgba(133, 143, 164, 0.2);
		border-radius: 1px;
	}
}
.wrapper-showroom {
	display: flex;
	border: 1px solid #000;
	// height: 1000px;
	&__gallery {
		padding: 0 20px 0 0;
		// height: 50px;
		flex: 1;
		border: 1px solid red;
	}
	&__configaration {
		padding: 0 0 0 20px;
		height: 1000px;
		flex: 1;
		border: 1px solid green;
	}
}
.gallery-view {
	position: relative;
	&__allgallery {
		position: sticky;
		top: 20px;
		// background-color: yellow;
	}
	&__main-img {
		padding: 0 64px;
		margin: 0 0 90px 0;
		img {
			width: 100%;
		}
	}
	&__preview {
		// display: flex;
		margin: auto;
		width: 500px;
	}
}
.preview-product {
	width: 100%;
	img {
		height: 70px;
		width: 70px;
	}
}
.inline-svg-icon:hover {
	fill: red;
}
