.presentation-product {
	&__header {
		padding: 50px 15px 23px 15px;
		margin: 0 auto 20px auto;
		max-width: 1440px;
		font-size: 38px;
		font-variation-settings: "wght" 800;
		border-bottom: 1px solid rgba(133, 143, 164, 0.2);
		border-radius: 1px;
	}
}
.wrapper-showroom {
	display: flex;
	padding: 0 15px 60px 15px;
	margin: auto;
	max-width: 1440px;
	// border: 1px solid #000;
	// height: 1000px;
	&__gallery {
		padding: 0 20px 0 0;
		// height: 50px;
		flex: 1;
		// border: 1px solid red;
	}
	&__all-configaration {
		padding: 0 0 0 20px;
		// height: 1000px;
		flex: 1;
		// border: 1px solid green;
		color: #384255;
		font-size: 16px;
	}
}
.gallery-view {
	position: relative;
	&__allgallery {
		position: sticky;
		top: 20px;
		// background-color: yellow;
	}
	&__main-img {
		padding: 0 64px;
		margin: 0 0 30px 0;
		img {
			width: 100%;
		}
	}
	&__preview {
		// display: flex;
		margin: auto;
		width: 500px;
	}
}
.preview-product {
	text-align: center;
	// display: flex;
	// align-items: center;
	// width: 100%;
	img {
		display: inline-block;
		height: 70px;
		width: 70px;
	}
}
.preview-product.active {
	img {
		border: 2px solid #000;
	}
}

.configaration-all {
	&__brand {
		padding: 0 0 20px 0;
		margin: 0 0 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(133, 143, 164, 0.2);
		border-radius: 1px;
	}

	&__characteristics-price {
		display: flex;
		justify-content: space-between;
		margin: 0 0 44px 0;
	}
}
.price-characteristics {
	& > div {
		flex: 1;
	}
	&__favorites-icons {
		display: flex;
		margin: 0 0 20px 0;
	}
	&__favorites-icons-hover {
		display: flex;
		align-items: center;
		cursor: pointer;
		flex: 1;
		transition: 0.5s;
		&:hover {
			color: red;
		}
	}
	&__favorites-icons-hover:hover .inline-svg-icon {
		fill: red;
	}
	&__name-characteristics {
		color: #909cb5;
	}
	&__list-characteristics {
		li {
			margin: 0 0 6px 0;
		}
	}
	&__btn-all {
		cursor: pointer;
		margin: 8px 0 0 0;
		font-size: 14px;
		color: #4b7ee8;
		background: inherit;
	}
	&__price-block {
		background: #f7f7f7;
		border-radius: 6px;
		padding: 30px 20px 20px 20px;
	}
}
.block-price-presentation {
	&__availability-block {
		margin: 0 0 12px 0;
	}
	&__availability {
		color: #2fc509;
	}
	&__not-availability {
		color: #f53b49;
	}
	&__availability-dots,
	&__not-availability-dots {
		display: inline-block;
		height: 8px;
		width: 8px;
		transform: translateY(-2px);
		border-radius: 50%;
	}
	&__availability-dots {
		border: 1px solid #2fc509;
		background-color: #2fc509;
	}
	&__not-availability-dots {
		border: 1px solid #f53b49;
	}
	&__availability-showroom {
		color: #4b7ee8;
	}
	&__price-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 0 12px 0;
		margin: 0 0 16px 0;
		border-bottom: 1px solid rgba(133, 143, 164, 0.2);
	}
	&__shareprice {
		color: #1a1a25;
		font-size: 30px;
		font-variation-settings: "wght" 700;
		// border-radius: 1px;
	}
	&__fullprice {
		color: #858fa4;
		font-size: 18px;
		font-variation-settings: "wght" 700;
		text-decoration: line-through;
	}
	&__fullprice.stock {
		color: #1a1a25;
		font-size: 30px;
		text-decoration: none;
	}
	&__cart-block {
		display: flex;
		justify-content: space-between;
	}
}
.cart-presentation {
	&__symbol {
		display: inline-block;
		height: 28px;
		width: 28px;
		border-radius: 50%;
		border: 1px solid #909cb5;
		background: inherit;
		font-size: 20px;
		font-variation-settings: "wght" 500;
		color: #384255;
		line-height: 15px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90px;
		& > input {
			flex: 1;
		}
		& > span {
			flex: 1;
		}
	}
	&__btn {
		width: 140px;
	}
}
#pieces-presentation {
	min-width: 5px;
	max-width: 17px;
	background: inherit;
	-moz-appearance: textfield;
}
#pieces-presentation::-webkit-inner-spin-button,
#pieces-presentation::-webkit-outer-spin-button {
	display: none;
	-webkit-appearance: none;
}
.inline-svg-icon {
	transition: 0.5s;
}
.presentation-product {
	&__configuration {
		padding: 30px;
		background-color: #f7f7f7;
		border-radius: 6px;
		font-size: 14px;
	}
	&__title {
		font-size: 20px;
		color: #1a1a25;
		font-variation-settings: "wght" 800;
	}
	&__ {
	}
	size {
	}
	&__weight {
	}
	&__color {
	}
	&__framecolor {
	}
	&__upholsterycolor {
	}
}
.items-configuration {
	display: flex;
	flex-direction: column;
	&__item {
		display: flex;
		padding: 20px 0;
	}
	&__item:not(:last-child) {
		border-bottom: 1px solid rgba(133, 143, 164, 0.2);
	}
	&__parameter-name {
		align-self: center;
		flex: 0 0 120px;
	}
	&__parameter-option {
		flex: 1 1 auto;
		& > div {
			display: inline-block;
			margin: 4px;
		}
	}
	&__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
		&:checked + label {
			background-color: #fff;
			border: 2px solid #f53b49;
		}
		& + label {
			display: inline-flex;
			align-items: center;
			user-select: none;
			border: 2px solid rgba(144, 156, 181, 0.5);
		}
		&:not(:disabled):not(:checked) + label:hover {
			border-color: lightpink;
		}
		&:not(:disabled):active + label {
			background-color: #b3d7ff;
			border-color: #b3d7ff;
		}
		&:focus + label {
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
		&:focus:not(:checked) + label {
			border-color: #80bdff;
		}
	}

	&__label {
		padding: 8px;
		font-variation-settings: "wght" 700;

		border-radius: 4px;
		transition: 0.5s;
		span {
			display: inline-block;
			margin: 0 6px 0 0;
			height: 15px;
			width: 15px;
			border: 1px solid #909cb5;
			// background-color: red;
			border-radius: 50%;
		}
	}
}
.presentation-slider .slick-slide {
	padding: 5px;
}
.presentation-slider .slick-prev,
.presentation-slider .slick-next {
	background: none;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: none;
	border-radius: none;
}
.presentation-slider .slick-next {
	right: -50px;
	background-image: url("../arrow-gray-right.svg");
}
.presentation-slider .slick-prev {
	left: -50px;
	background-image: url("../arrow-gray-left.svg");
}

@media (max-width: 1300px) {
	.configaration-all__characteristics-price {
		& > div:first-child {
			padding: 0 0 20px 0;
		}
		flex-direction: column;
	}
	.gallery-view__preview {
		width: 450px;
	}
}
@media (max-width: 1200px) {
	.gallery-view__preview {
		width: 400px;
	}
}
@media (max-width: 992px) {
	.presentation-product__configuration {
		padding: 10px;
	}
	.gallery-view__preview {
		width: 300px;
	}
	.preview-product {
		// width: 100%;
		img {
			height: 50px;
			width: 50px;
		}
	}
}
@media (max-width: 768px) {
	.wrapper-showroom {
		flex-direction: column;
	}
	.gallery-view {
		padding: 0;
		margin: 0 0 30px 0;
	}
	.gallery-view__preview {
		width: 480px;
	}
	.preview-product {
		// width: 100%;
		img {
			height: 70px;
			width: 70px;
		}
	}
	.wrapper-showroom__all-configaration {
		padding: 0;
	}
	.presentation-product__configuration {
		padding: 30px;
	}
}
@media (max-width: 576px) {
	.gallery-view {
		&__main-img {
			padding: 0;
		}
		&__preview {
			width: 350px;
		}
	}
	.preview-product {
		// width: 100%;
		img {
			height: 50px;
			width: 50px;
		}
	}
	.presentation-product__configuration {
		padding: 10px;
	}
	.presentation-slider .slick-next {
		right: -10px;
		width: 20px;
	}
	.presentation-slider .slick-prev {
		left: -10px;
		width: 20px;
	}
}

@media (max-width: 400px) {
	.wrapper-showroom {
		padding: 0 10px 60px 10px;
	}
	.gallery-view__preview {
		width: 300px;
	}
}
