.page-profile {
	max-width: 1440px;
	padding: 110px 15px 100px 15px;
	margin: auto;
}
.profile {
	&__wrapper {
		display: flex;
	}
	&__title {
		color: #1a1a25;
		// margin: 0 0 60px 0;
		padding: 0 0 24px 0;
		font-size: 38px;
		font-variation-settings: "wght" 800;
		border-bottom: 2px solid rgba(133, 143, 164, 0.2);
	}
	// &__main {
	// 	flex: 2;
	// }
	// &__mycontact {
	// 	flex: 1;
	// }
	@media (max-width: 992px) {
		&__wrapper {
			flex-direction: column;
		}
	}
}
.main-profile {
	flex: 3;
	border-right: 2px solid rgba(133, 143, 164, 0.2);
	padding: 30px 30px 30px 0;
	@media (max-width: 992px) {
		padding: 30px 0 30px 0;
		border-right: none;
		border-bottom: 2px solid rgba(133, 143, 164, 0.2);
	}
}
.menu-profile {
	margin: 0 0 30px 0;
	&__list {
	}
	&__item {
		display: inline-block;
		margin: 0 12px 0 0;
	}
	&__link {
		display: inline-block;
		padding: 8px 20px;
		background-color: #fff;
		font-variation-settings: "wght" 700;
		color: #384255;
		border-radius: 4px;
		transition: 0.3s;
		&:hover {
			background-color: #f53b49;
			color: #fff;
		}
	}
}
.mycontact-profile {
	flex: 1;
	padding: 50px 0 0 30px;
	&__name,
	&__email,
	&__phone {
		color: #384255;
	}
	&__name {
		margin: 0 0 12px 0;
		font-size: 18px;
		font-variation-settings: "wght" 600;
	}
	&__email,
	&__phone {
		font-size: 16px;
	}
	&__email {
		margin: 0 0 5px 0;
	}
	&__phone {
		margin: 0 0 12px 0;
	}
	&__settings,
	&__logout {
		display: block;
		color: #4b7ee8;
		font-variation-settings: "wght" 700;
		margin: 0 0 12px 0;
		background-color: inherit;
	}
	&__settings {
	}
	&__logout {
	}
	h3 {
		display: inline-block;
		margin: 0 0 20px;
		color: #f53b49;
		position: relative;
	}
}
.tooltip {
	position: relative;
	&__quest {
		position: absolute;
		padding: 1px 4px;
		top: -8px;
		// right: 0;
		left: 150px;
		height: 17px;
		width: 17px;
		display: inline-block;
		color: #1a1a25;
		border: 1px solid #000;
		border-radius: 50%;
		font-variation-settings: "wght" 700;
	}

	&__quest:hover + &__answer {
		display: block;
	}
	&__answer {
		display: none;
		position: absolute;
		padding: 7px;
		top: -80px;
		// left: 50%px;
		width: 180px;
		color: #1a1a25;
		border: 1px solid #909cb5;
		border-radius: 5px;
		background-color: #fff;
	}
}
