.adaptive-menu {
	&__content {
		overflow: hidden;
		overflow-y: auto;
		position: fixed;
		padding: 25px 10px;
		top: 0;
		right: 0;
		z-index: 4;
		width: 400px;
		min-height: 100%;
		height: 100vh;
		background-color: #2a2c38;
		// transition: transform 0.3s;
		transform: translateX(100%);

		-ms-overflow-style: none;
		scrollbar-width: none;
		// &::-webkit-scrollbar {
		// 	display: none;
		// 	width: 0;
		// }
		&.transform {
		}
		&._active {
			transform: translateX(0);
		}

		// @media (max-width: ($md4+px)) {
		// 	width: 100%;
		// }
	}

	&__login {
		margin: 0 0 25px 5px;

		&._disactive {
			top: 25px;
		}
	}

	&__main-menu {
		&._disactive {
			top: 70px;
		}

		// margin: 0 10px;
		button {
			display: block;
			position: relative;
			padding: 17px 10px;
			width: 100%;
			text-align: left;
			background: rgba(56, 66, 85, 0.5);
			color: #fff;
			font-variation-settings: "wght" 700;

			&::after {
				position: absolute;
				content: "";
				background: url("./arrow_red_right.svg") no-repeat;
				height: 13px;
				width: 15px;
				background-size: 100%;
				right: 29px;
				top: 35%;
			}
		}

		&_home {
			margin: 0 0 8px 0;
			// &::after {
			// 	content: "";
			// 	background: url("img/arrow_red_right.svg") right no-repeat;
			// }
		}

		&_club {
			margin: 0 0 20px 0;
		}
	}

	&__contacts {
		transition: 5s;
	}

	&__login,
	&__main-menu {
		// display: none;
		transform: translateX(0);
		transition: 0.4s;
		position: static;

		&._disactive {
			// display: none;
			// top: 80px;
			transform: translateX(-110%);
			position: absolute;
			width: 100%;
		}
	}
	@media (max-width: (576px)) {
		&__icon-menu {
			right: 10px;
			top: 28px;
		}
		&__content {
			width: 100%;
		}
	}
}

.subdirectory {
	&__container {
		// display: none;
		// position: absolute;
		// transform: translateX(-110%);
		// top: 0;
		// transition: 1s;
		// width: 100%;
		&._active {
			// display: block;
		}
	}

	&__list {
		margin: 20px 0;

		li {
			border-top: 1px solid rgba(133, 143, 164, 0.15);
			border-bottom: 1px solid rgba(133, 143, 164, 0.15);
		}
	}

	&__list-home {
	}

	&__list-club {
	}

	&__link {
		display: block;
		padding: 10px;
		color: #f7f7f7;

		span {
			position: relative;

			&::after {
				content: "";
				background: url("./arrow_gray_right.svg") no-repeat;
				position: absolute;
				height: 10px;
				width: 10px;
				background-size: 100%;
				right: -20px;
				top: 30%;
			}
		}

		&:hover {
			background-color: rgba(133, 143, 164, 0.15);
		}
	}
}

.sub_home,
.sub_club {
	top: 25px;
	position: absolute;
	transform: translateX(100%);
	transition: 0.5s;
	width: 100%;

	&._active {
		// display: block;
		position: static;
		transform: translateX(0);
		// left: 0;
	}

	button {
		background: none;
		color: #858fa4;
		padding: 5px;
		margin: 0 0 25px 0;
	}

	h3 {
		color: #fff;
		font-variation-settings: "wght" 700;
		font-size: 24px;
	}
}
@media (max-width: 576px) {
	body.lock {
		overflow: hidden;
	}
}
