.promotion {
	margin: 0 auto 75px auto;
	padding: 0 15px 0 15px;
	max-width: 1440px;
	&__slider {
		margin: 0 0 30px 0;
	}
	&__header {
		display: flex;
		align-items: center;
		margin: 0 0 15px 0;

		&.link {
			margin: 0 30px 0 0;
			color: #828282;
			font-size: 20px;
			font-variation-settings: "wght" 800;
		}
		// &.flex {
		// }
		@media (max-width: 576px) {
			flex-direction: column;
			align-items: flex-start;
			&.flex {
				margin: 0 0 20px 0;
			}
			&.link {
				margin: 0 0 5px 0;
			}
		}
	}
	.article__caption.promotion__header {
		&.flex {
			margin: 0 30px 0px 0;
		}
		@media (max-width: 576px) {
			&.flex {
				margin: 0 0 20px 0;
			}
		}
	}
}

.price-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__price {
		font-size: 17px;
		font-variation-settings: "wght" 700;
		color: #1a1a25;
	}
	&__fullprice {
	}
	&__shareprice + &__fullprice {
		font-size: 16px;
		font-variation-settings: "wght" 400;
		color: #1a1a25;
		text-decoration: line-through;
	}
	&__button {
		padding: 0 0 0 30px;
		width: 121px;
		height: 49px;
		border-radius: 4px;
		font-variation-settings: "wght" 700;
		color: #fff;
		background: #f53b49;
		background-image: url("./img/icons/cart.svg");
		background-repeat: no-repeat;
		background-position: 20px 13px;
	}
}
.slick-initialized.promotion-slider .slick-slide {
	padding: 0 10px;
}
